html,
body,
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-size: 62.5%;
background-color: aqua;
}
h2{
    margin: 1rem;
}
.parent {
    
    font-size: 30px;
    display: flex;
    width: 80vw;
    justify-content: center;
    border: 10px solid red;
}
.px-size{
    font-size: 20px;
}
.rem-size{
    font-size: 2rem;
}
.em-size{
    font-size: 1em;
}
.Child1{
border: 10px solid red;
}
.Child2{
border: 10px solid red;   
}
.Child3{
border: 10px solid red;
}