html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: white
}

.header {
  font-size: 32px;
  color: gold;
 text-align: center;
  font-family: "Dancing Script", cursive;
  
  margin: 10px auto;
  width: 10px auto;
  position: absolute;
  left: 600px;
  top: -10px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  margin: 100px;
}

.px-size {
  font-size: 20px;
}
.rem-size {
  font-size: 2rem;
}
.em-size {
  font-size: 2em;
}

.Child1 {
  margin: 50px auto;
  font-style: italic;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  padding: 20px 20px;
  color: gold;
  box-shadow: 20px 10px 10px black;
}
.Child2 {
  margin: 50px auto;
  font-style: italic;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  padding: 20px 20px;
  color: gold;
  box-shadow: 20px 10px 10px black;
}
.Child3 {
  margin: 50px auto;
  font-style: italic;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  padding: 20px 20px;
  color: gold;
  box-shadow: 20px 10px 10px black;

}
.parent {
  font-size: 16px;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  flex-direction: row;
  padding: 10px;
}


@media (orientation: portrait) {
  .parent
 {
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 900px) {
  .parent {
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .parent,
  .parent2,
  .parent3 {
    flex-direction: column; 
  width: 100vw; }
   
}
.Hover1:hover{
  transform: scale(1.5);
  outline: 1rem solid gold;
  }
.Hover2:hover{
 transform: scale(0.5);
 outline: 1rem solid black
}
.Child3-3:hover{
  border-width: 5px;
  border-style:solid;
  border-color: green;
  border-image: initial;
  padding: 20px 20px
}
.Hover4:hover{
transform: scale(0.5,1.5);
}

.Child2-2:hover{
 background-color: blueviolet;
}
.Child2-2
{  margin: 50px auto;
  font-style: italic;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  padding: 20px 20px;
  color: gold;
  box-shadow: 20px 10px 10px black;}
  .Child3-3 {
    margin: 50px auto;
    font-style: italic;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    padding: 20px 20px;
    color: gold;
    box-shadow: 20px 10px 10px black;
  
  }


  .header {
    animation:test 4s infinite;
    height: 2rem;
    width: 2rem; 
  
  }
    @keyframes test {
       
        from {
        font-size: 100px;
        color: black;}
        to { color:  gold;
        font-size: 10px;}
      }
    